huggingface_hub==0.25.1
matplotlib==3.8.2
numpy
pandas==2.2.3
Pillow==11.1.0
pySankey==0.0.1
python-dotenv==1.0.1
scikit-learn==1.4.1.post1
seaborn==0.13.2
torch==2.4.0
tqdm==4.66.5
transformer-lens==2.7.0
transformers==4.47.1
wordcloud==1.9.4
